/** 
 * Extra (or new) styles for "LOOPIS Theme HQ"
 * 
 * New styles are intended to be merged with shared styles in "LOOPIS Theme" when needed.
 */

/* Special styling for FAQ posts */
.faq-post-wrapper { margin-bottom: 30px; } 
.faq-post-wrapper a { font-size: 16px; padding:5px; background: #f5f5f5; }
.faq-post-wrapper a:hover { background:  #ebebeb; }

/* User cards for admin area (to be merged) */
.user-card { background-color: #f5f5f5; padding: 8px; margin-bottom: 10px; font-size: 0.875rem; }
.user-card-row { display: flex; gap: 8px; }
.user-card-row:first-child { font-size: 1.1rem; }
.user-card-row > span { flex: 1; }
.user-card-row.header > span { flex: 0 0 auto; font-weight: 400; }
.user-card-row.header > span:last-child { flex: 0 0 auto; text-align: right; }
.user-card-row.details { justify-content: flex-start; flex-wrap: wrap; gap: 8px; }
.user-card-row.details > span { flex: 0 1 auto; }
.user-card-actions { margin-left: auto; display: flex; gap: 8px; align-items: center; } 
.user-card-time { font-size: 0.75rem; margin-left: auto; }