/** 
 * Extra (or new) styles for "LOOPIS Theme HQ"
 * 
 * New styles are intended to be merged with shared styles in "LOOPIS Theme" when needed.
 */

/* Special styling for FAQ posts */
.faq-post-wrapper { margin-bottom: 30px; } 
.faq-post-wrapper a { font-size: 16px; padding:5px; background: #f5f5f5; }
.faq-post-wrapper a:hover { background:  #ebebeb; }